# Docker Compose environment - DO NOT commit this file

# AWS RDS
DATABASE_URL=DATABASE_URL=mysql+pymysql://traxuser:traxpassword@mysql:3306/traxdb

# JWT
SECRET_KEY=65353D8FCEA6A88263E915FFC1B705AE4FBB7D61E23681B4D162DC75ED134B7D614A26930613C9331E81417728F679646A6297178DE5F0AABF6BE3E34CFCBC22
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
DEBUG=false

# URLs
FRONTEND_URL=http://localhost:3000